# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"

# Bot
BOT_TOKEN=7846963365:KELEq7sj2kh0iN0y7ASyFhdXXaCTc3LtOHH

# DB
DB_USERS="db/users.json"
DB_BOOKS="db/books.json"

PATH_BOOKS="books/"